@{
    ViewBag.Title = "Transaction History";
    Layout = "~/Views/Shared/AdminPageLayout.cshtml";
}

<!-- Transaction History Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Transaction History</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-12 mb-5">
            <div class="bg-light p-30 mb-30">
                <h5 class="card-title">Transaction History</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Transaction ID</th>
                            <th>User ID</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody id="transaction-history">
                        <tr>
                            <td>#T001</td>
                            <td>#U001</td>
                            <td>John Doe</td>
                            <td>2024-06-01</td>
                            <td>$100.00</td>
                            <td>Cash In</td>
                        </tr>
                        <tr>
                            <td>#T002</td>
                            <td>#U002</td>
                            <td>Jane Smith</td>
                            <td>2024-06-10</td>
                            <td>$150.00</td>
                            <td>Cash Out</td>
                        </tr>
                        <tr>
                            <td>#T003</td>
                            <td>#U003</td>
                            <td>Mark Johnson</td>
                            <td>2024-06-15</td>
                            <td>$200.00</td>
                            <td>Cash Out</td>
                        </tr>
                        <!-- Additional transactions -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Transaction History End -->
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/Assets/Shop/lib/easing/easing.min.js"></script>
<script src="/Assets/Shop/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="/Assets/Shop/mail/jqBootstrapValidation.min.js"></script>
<script src="/Assets/Shop/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="/Assets/Shop/js/main.js"></script>

