@{
    ViewBag.Title = "Favorited Products";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!-- Favorited Products Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Favorited Products</span></h2>
    <div class="row px-xl-5">
        <!-- Example Product Start -->
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden" style="height: 250px;">
                    <img class="img-fluid w-100 h-100" src="~/Assets/Shop/img/Coke.jpg" alt="Product Name" style="object-fit: cover;">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="#">Product Name</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$99.99</h5>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star-half-alt text-primary mr-1"></small>
                        <small>(99)</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- Example Product End -->
        <!-- Repeat Example Product for more products -->
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden" style="height: 250px;">
                    <img class="img-fluid w-100 h-100" src="~/Assets/Shop/img/DepartmentalShirts.jpg" alt="Product Name" style="object-fit: cover;">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="#">Product Name</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$99.99</h5>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star-half-alt text-primary mr-1"></small>
                        <small>(99)</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden" style="height: 250px;">
                    <img class="img-fluid w-100 h-100" src="~/Assets/Shop/img/foods&bev.jpg" alt="Product Name" style="object-fit: cover;">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="#">Product Name</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$99.99</h5>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star-half-alt text-primary mr-1"></small>
                        <small>(99)</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden" style="height: 250px;">
                    <img class="img-fluid w-100 h-100" src="~/Assets/Shop/img/acbooks.jpg" alt="Product Name" style="object-fit: cover;">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="#">Product Name</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$99.99</h5>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star-half-alt text-primary mr-1"></small>
                        <small>(99)</small>
                    </div>
                </div>
            </div>
        </div>

        <!-- Repeat as needed for more products -->
        <!-- No Favorited Products Message Start -->
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                You have no favorited products.
            </div>
        </div>
        <!-- No Favorited Products Message End -->
    </div>
</div>
<!-- Favorited Products End -->
