@{
    ViewBag.Title = "Verify";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>UC Grab-Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Assets/login/css/style.css">
</head>
<body>
    @using (Html.BeginForm())
    {
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-7 col-lg-5">
                        <div class="login-wrap p-4 p-md-5">
                            <img class="icon d-flex align-items-center justify-content-center" src="~/Assets/login/images/UCGrab.jpg" />
                            <div class="form-group"></div>
                            <form class="login-form">
                                @TempData["error"]
                                <input type="hidden" name="username" value="@TempData["username"]" />
                                <div class="form-group d-flex">
                                    <input type="text" name="verify_code" class="form-control rounded-left" placeholder="Verification Code" maxlength="6" pattern="\d{6}" title="Please enter a 6-digit code" required>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="form-control btn btn-primary rounded submit px-3" value="Verify ">
                                </div>
                                <div class="form-group">
                                    If code has not been sent. Click <a href="~/Home/Login">Resend Code</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    <script src="Assets/login/js/jquery.min.js"></script>
    <script src="Assets/login/js/popper.js"></script>
    <script src="Assets/login/js/bootstrap.min.js"></script>
    <script src="Assets/login/js/main.js"></script>
</body>
</html>